/* 

styles 

Taken from Tutorial 9 of
Carey, P., & Canovatchel, F. (2006). New Perspectives on Javascript. Boston, MA: Thompson Course Technology.

*/


a:link
		{
			color:#23238e;
			text-decoration:none;
			font-size:12px;
	  	}
	  
a:visited
		{
			color:#23238e;
			text-decoration:none;
		}
		 
a:hover
		{
			color:#23238e;
			text-decoration:underline;
		}

body
		{
			color:#23238e;
			background-color:#ffffcc;
			font-family:arial;
			font-size:12px;
		}
	
#button
		{
			font-size:12px;
			font-family:arial;
	  	}

.center
		{
			text-align:center;
		}


.bold_items
		{
			font-weight: bold;
		}

#home_page_text
		{
			position:absolute;
			top:100px;
			left:150px;
			width:600px;
			font-size:14px;
		
		}

.item_description
		{
			width:10%;
			font-size:12px;
		}

.item_header
		{
			line-height:150%;
			font-size:150%;
			color:#336633;
			font-weight:bold;
		}

#items
		{
			position:absolute;
			top:60px;
			left:110px;
			width:65%;
			font-size:12px;
		}

.item_name
		{
			line-height:120%;
			color:#336633;
			font-weight:bold;
		}


#logo
		{
			align:center;
	  	}
	  

#product_images
		{
			position:absolute;
			top:20%;
			left:60%;
		}
		
.right
		{
			text-align:right;
		}

#row1
		{
			position:absolute;
			top:100%;
			left:0%;
			width:100%;
	 	}
	 
#row2
		{
			position:absolute;
			top:100%;
			left:43%;
			width:50%;
	 	}
		
td
		{
			font-size:90%;
		}